//- PASSING IN TITLE, COFFEE, ORIGIN_LIST, ROAST_LIST

extends layout

block content

  h1= title

  form(action='' method='post')
    .mb-3
      label.form-label(for='name') Name:
      input.form-control(
        id='name'
        name='name'
        type='text'
        placeholder='Happy Mornings Blend, etc.'
        value=(coffee ? coffee.name : '')
        required
      )
    .mb-3
      label.form-label(for='description') Description:
      input.form-control(
        id='description'
        name='description'
        type='text'
        placeholder='Bright, Sweet, Fruity, etc.'
        value=(coffee ? coffee.description : '')
        required
      )
      .mb-3
        label.form-label(for='origin_country') Origin:
        select.form-select(
          id='origin_country'
          name='origin_country'
          required
        )
          each origin in origin_list
            if coffee
              option(
                value=origin._id
                selected=(origin._id.toString() === coffee.origin._id.toString() ? 'selected' : false)
              ) #{origin.country}
            else
              option(value=origin._id) #{origin.country}
      .mb-3
        label.form-label(for='roast_name') Roast:
        select.form-select(
          id='roast_name'
          name='roast_name'
          required
        )
          if coffee
            each roast in roast_list
              option(
                value=roast._id
                selected=(roast._id.toString() === coffee.roast._id.toString() ?'selected' : false)
              ) #{roast.name}
          else
            each roast in roast_list
              option(value=roast._id) #{roast.name}
      .mb-3
        label.form-label(for='price') Price:
        input.form-control(
          id='price'
          name='price'
          type='number'
          value=(coffee ? coffee.price : 0)
          min='0'
          max='1000'
          required
        )
      .mb-3
        label.form-label(for='quantity') Quantity:
        input.form-control(
          id='quantity'
          name='quantity'
          type='number'
          value=(coffee ? coffee.quantity : 0)
          min='0'
          max='100'
          required
        )
    button.btn.btn-primary.mb-3(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg