//- PASSING TITLE, COFFEE

extends layout

block content

  h1= title

  .indent
    p #[strong Description:] #{coffee.description}
    p #[strong Origin:] #{coffee.origin.country}
    p #[strong Roast:] #{coffee.roast.name}
    p #[strong Price:] $#{coffee.price}/bag
    p #[strong Quantity:] #{coffee.quantity} bags in stock

  p 
    a(href=(coffee.url + '/update')) Update 
  p 
    a(href=(coffee.url + '/delete')) Delete

  if error
    p #{error.msg}