//- PASSING IN TITLE, ORIGIN, ERRORS

extends layout

block content

  h1= title

  form(action='' method='post')
    .form-group
      label(for='country') Country:
      input.form-control(
        id='country'
        name='country'
        type='text'
        placeholder='Columbia, Ethiopia, etc.'
        value=(origin ? origin.country : '')
        required
      )
      label(for='producer') Producer:
      input.form-control(
        id='producer'
        name='producer'
        type='text'
        placeholder='Doe family, Doe farms, etc.'
        value=(origin ? origin.producer : '')
      )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li != error.msg