//- PASSING IN TITLE, ORIGIN, ERRORS

extends layout

block content

  h1= title
  
  p #[strong Country:] #{origin.country}
  p #[strong Producer:] #{origin.producer ? origin.producer : 'unknown'}

  hr
  p
    a(href=origin.url + '/update') Update
  p
    a(href=origin.url + '/delete') Delete

  if error
    p error.msg